<h1>All Volunteers</h1>
<ul>
  <% @volunteers.each do |volunteer|  %>
  <li><a href="\volunteers\<%= volunteer['id'] %>"><%= volunteer['name'] %></a></li>
  <% end  %>
</ul>

<br><br>

<h1>Add Project</h1>
<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name">Volunteer Name</label>
    <input type="text" name="volunteer_name">
  </div>
  <button type="submit" name="button">Add Volunteer</button>
</form>

<br><br>

<a href="/" class='btn btn-info'>Return to Projects</a>
