<h1><%= @project['name'] %></h1>

<!-- <h3>Project:
<% if @volunteer['project_id']=='0'%>
  None
<% else %>
  <%= @project['name'] %>
<% end %>
</h3> -->

<!--List of Volunteers on staff with unassign and add hours buttons  -->
<!--Checklist of available Volunteers with assign button -->



<a href="/" class='btn btn-info'>Return to Projects</a>
